@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '𝖭𝖾𝗎𝖾 𝖬𝗈𝗇𝗍𝗋𝖾𝖺𝗅';
  src: url("/fonts/NeueMontreal/NeueMontreal-Bold.woff");
}

.cn-header-fluid-container {
  padding: 0 5%;
}

.cn-fluid-container {
  padding: 5% 5%;
}

h1 {
  @apply lg:text-5xl md:text-4xl sm:text-3xl text-3xl font-medium
}

h2 {
  @apply font-medium;
  font-size: 2rem;
}

h3 {
  @apply font-medium text-2xl
}