@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ğ–­ğ–¾ğ—ğ–¾ ğ–¬ğ—ˆğ—‡ğ—ğ—‹ğ–¾ğ–ºğ—…';
  src: url("/fonts/NeueMontreal/NeueMontreal-Bold.woff");
  src: url("/fonts/NeueMontreal/NeueMontreal-Bold.woff2");
  src: url("/fonts/NeueMontreal/NeueMontreal-Medium.woff");
  src: url("/fonts/NeueMontreal/NeueMontreal-Medium.woff2");
  src: url("/fonts/NeueMontreal/NeueMontreal-Regular.woff");
  src: url("/fonts/NeueMontreal/NeueMontreal-Regular.woff2");
}

.cn-header-fluid-container {
  padding: 0 5%;
}

.cn-fluid-container {
  padding: 5% 5%;
}

h1 {
  @apply lg:text-5xl md:text-4xl sm:text-3xl text-3xl font-medium
}

h2 {
  @apply font-medium;
  font-size: 2.5rem;
}

h3 {
  @apply font-medium;
  font-size: 2rem;
}
h4{
  @apply text-2xl font-medium;
}
a{
  @apply text-2xl font-medium
}